.profile_description_outer {
  lebel {
    font-weight: 400;
  }
  textarea,
  input[type='text'] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    width: 350px;
  }
}
