@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background-color: #D9D9D9;
}
.inner-container-wraper{
    background-color: #2B2929;
}
.inner-container{
    background-color: aqua;
    max-width: 1200px;
    margin: 0 auto;
}
.login-separater{
    height: 30px;
    text-align: center;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1rem auto 0.12rem;
    overflow: visible;
    font-size: 14px;
}
.login-separater::before{
    color: #fff;
    content: "or";
    padding: 0 0.4rem;
    position: relative;
    top: -0.7rem;
    background-color: #6697df;
    z-index: 2;

}
.react-responsive-modal-modal{
    padding: 0!important;
    border-radius: 0.5rem;
}

@layer components {
    .item-box {
        @apply  rounded-md cursor-pointer bg-white text-center content-center text-stone-700 w-80 h-40 flex justify-center shadow-md shadow-neutral-300 hover:shadow-neutral-600;
    }
  }

  /* up */