@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background-color: #D9D9D9;
}
.inner-container-wraper{
    background-color: #2B2929;
}
.inner-container{
    background-color: aqua;
    max-width: 1200px;
    margin: 0 auto;
}

@layer components {
    .item-box {
        @apply  rounded-md cursor-pointer bg-white text-center content-center text-stone-700 w-80 h-40 flex justify-center shadow-md shadow-neutral-300 hover:shadow-neutral-600;
    }
  }

  /* up */